*{
    font-family:Verdana, Geneva, Tahoma, sans-serif
    }
.container{
    border: 3px solid green;
    padding: 15px;
    display: grid;
    gap: 5px;
    grid-template-areas:
        'header header header'
        'sidebar content content'
        'footer footer footer';
}
.container div{
    padding: 20px;
    border: 1px solid #564334;
} 
#header{
    grid-area:header;
    text-align: center;
    background-color: black;
    color: #ddd;
}

h3{text-align: center;
    font-weight: bold;
    color: rgb(188, 243, 188);
    font-size: 24pt;
    padding: 30px;
}
#sidebar{
    grid-area:sidebar;
    height: auto;
    width: auto;
    background-color: #564334;    
}
a:link, a:visited {
    color: bisque;
    text-decoration: none;
}
#content{
    grid-area:content;
    background-color: rgb(55, 56, 54);   
    width:auto;    
}
table, th, td {
    border: 2px solid #d1ae93;
    column-width: auto;
    margin: 0 auto;
}
#itens_tabela td{
    text-align: center;
    width: 300px;
    height: 60px;    
    font-size: 16pt;
}
a:hover {background-color: rgb(180, 207, 180);}

#footer{
    grid-area:footer;
}