<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Curriculo - Identificação </title>
    <link rel="shortcut icon" href="./src/img/favicon-16x16.png" type="image/x-icon" />
        <!-- Google fonts Lato -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet"
        />
        <!-- CSS Bootstrap -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
        />
        <!-- Bootstrap Icons -->
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
        />
        <!-- CSS do projeto -->
        <link rel="stylesheet" href="../src/css/estiloCurriculo.css"/>
        <!-- JavaScript Bootstrap -->
        <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
        ></script>		 
</head>
<body>

    <div class="container-fluid bg-1">        
        <div class="meuNome">
            <h1> Elga Luiza Rodrigues </h1>
        </div>	
        <div class="row">
            <div class="col-6">
                <h4> Formação </h4>
                <ul>
                    <li> Programação em Web, Prodabel, 2022 </li>
                    <li> MBA em Gestão Empresarial com Ênfase em TIC, FGV, 2013 </li>
                    <li> Comunicação de dados, IETEC, 1997 </li>
                    <li> Tecnologia em Processamento de Dados, Newton Paiva, 1995 </li>
                </ul> 
            </div>
        
            <div class="col-6"> 
                <h4> Experiência Profissional </h4>
                
                <ul>
                    <li> Cemig - Departamento de TI </li>
                    <li> Engevix - Departamento de Telecomunicações </li>
                    <li> Quartzil - Equipe de Desenvolvimento de Equipamentos Eletrônicos </li>
                </ul> 
                <a href="../src/img/CV-Elga Luiza Rodrigues-2022.pdf" class="btn btn-outline-primary btn-lg"> Clique para mais detalhes </a>
            </div>			  
        </div><hr>
        <div class="row">
            <div class="col-3">
                <img src="../src/img/2013-11-01 07.10.10.jpg" class="img-responsive" id="img" alt="imagem">
            </div>
            <div class="col-3">
                <img src="../src/img/20120824_165359.jpg" class="img-responsive" id="img" alt="imagem">
            </div>
            <div class="col-3">
                <img src="../src/img/elga-fase.jfif" class="img-responsive" id="img" alt="imagem">
            </div>
            <div class="col-3">
                <img src="../src/img/20120807_110925.jpg" class="img-responsive" id="img" alt="imagem">
            </div>
        </div>
       <br> 
       <hr>  
        
        
        <a href="../index.html" class="btn btn-outline-primary btn-lg"><i class="bi bi-arrow-return-left"></i> Voltar </a>
        <a href="./curriculoDetalheSecao1.html" class="btn btn-outline-primary btn-lg"> Desafios Programação em WEB </a>        
        
    </div>   

</body>
</html>